@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Destiny 2 Resets</h1>
    <p>Current reset is @Html.DisplayFor(model => model.CurrentReset.Reset)</p>

    <h2 class="display-4">Misc.</h2>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.CurrentReset.Flashpoint)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.CurrentReset.ContactFlashpoint)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.CurrentReset.ContactHeroicBoss)
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @Html.DisplayFor(model => model.CurrentReset.Flashpoint)
                </td>
                <td>
                    @Html.DisplayFor(model => model.CurrentReset.ContactFlashpoint)
                </td>
                <td>
                    @Html.DisplayFor(model => model.CurrentReset.ContactHeroicBoss)
                </td>
            </tr>
        </tbody>
    </table>

    <h2 class="display-4">Singe</h2>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CurrentReset.Singe.VanguardAndMenagerie)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CurrentReset.Singe.Reckoning)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CurrentReset.Singe.ZeroHourAndWhisper)
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @Html.DisplayFor(model => model.CurrentReset.Singe.VanguardAndMenagerie)
                </td>
                <td>
                    @Html.DisplayFor(model => model.CurrentReset.Singe.Reckoning)
                </td>
                <td>
                    @Html.DisplayFor(model => model.CurrentReset.Singe.ZeroHourAndWhisper)
                </td>
            </tr>
        </tbody>
    </table>

    <h2 class="display-4">Raids</h2>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CurrentReset.Raids.GoSChallenge)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CurrentReset.Raids.LastWishChallenge)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CurrentReset.Raids.ScourgeChallenge)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CurrentReset.Raids.CrownChallenge)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CurrentReset.Raids.LeviathanChallenge)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CurrentReset.Raids.PrestigeModifier)
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @Html.DisplayFor(model => model.CurrentReset.Raids.GoSChallenge)
                </td>
                <td>
                    @Html.DisplayFor(model => model.CurrentReset.Raids.LastWishChallenge)
                </td>
                <td>
                    @Html.DisplayFor(model => model.CurrentReset.Raids.ScourgeChallenge)
                </td>
                <td>
                    @Html.DisplayFor(model => model.CurrentReset.Raids.CrownChallenge)
                </td>
                <td>
                    @Html.DisplayFor(model => model.CurrentReset.Raids.LeviathanChallenge)
                </td>
                <td>
                    @Html.DisplayFor(model => model.CurrentReset.Raids.PrestigeModifier)
                </td>
            </tr>
        </tbody>
    </table>

    <h2 class="display-4">Misc. 2</h2>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CurrentReset.MenagerieBoss)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CurrentReset.ReckoningBoss)
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @Html.DisplayFor(model => model.CurrentReset.MenagerieBoss)
                </td>
                <td>
                    @Html.DisplayFor(model => model.CurrentReset.ReckoningBoss)
                </td>
            </tr>
        </tbody>
    </table>

    <h2 class="display-4">Escalation Protocol</h2>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CurrentReset.EscalationProtocol.Weapons)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CurrentReset.EscalationProtocol.Boss)
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @Html.DisplayFor(model => model.CurrentReset.EscalationProtocol.Weapons)
                </td>
                <td>
                    @Html.DisplayFor(model => model.CurrentReset.EscalationProtocol.Boss)
                </td>
            </tr>
        </tbody>
    </table>

    <h2 class="display-4">Nightmares</h2>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CurrentReset.Nightmares.Boss1)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CurrentReset.Nightmares.Boss2)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CurrentReset.Nightmares.Boss3)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CurrentReset.Nightmares.Roaming)
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @Html.DisplayFor(model => model.CurrentReset.Nightmares.Boss1)
                </td>
                <td>
                    @Html.DisplayFor(model => model.CurrentReset.Nightmares.Boss2)
                </td>
                <td>
                    @Html.DisplayFor(model => model.CurrentReset.Nightmares.Boss3)
                </td>
                <td>
                    @Html.DisplayFor(model => model.CurrentReset.Nightmares.Roaming)
                </td>
            </tr>
        </tbody>
    </table>

    <h2 class="display-4">Dreaming City</h2>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CurrentReset.DreamingCity.CurseWeek)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CurrentReset.DreamingCity.AscendantChallenge)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CurrentReset.DreamingCity.ChallengeLocation)
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @Html.DisplayFor(model => model.CurrentReset.DreamingCity.CurseWeek)
                </td>
                <td>
                    @Html.DisplayFor(model => model.CurrentReset.DreamingCity.AscendantChallenge)
                </td>
                <td>
                    @Html.DisplayFor(model => model.CurrentReset.DreamingCity.ChallengeLocation)
                </td>
            </tr>
        </tbody>
    </table>
</div>
